<template>
  <a class="post-button" :href="url" target="_blank">
    <span v-text="text" />
  </a>
</template>

<script>
export default {
  name: "PostButton",
  props: {
    text: {
      type: String,
      required: false,
      default: "Read more"
    },
    url: {
      type: String
    }
  }
};
</script>

<style scoped lang="scss">
.post-button {
  display: block;
  width: 13.2rem;
  margin: 16px auto 0;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  border-radius: 100px;
  border: 1px solid rgba(#ededed, 0.2);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.35s cubic-bezier(0.46, 1.68, 0.7, 1.49);
  &:after {
    /*left: 100%;*/
    /*right: 100%;*/
    transition-delay: 0.1s;
  }
  &:before {
    /*right: 100%;*/
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#ededed, 0);
    top: 0;
    left: 0;
    border-radius: 100px;
    transition: all 0.25s ease-out;
    transform: /*translateX(100%)*/ rotate(25deg);
  }

  &:hover {
    &:before {
      /*right: 0;*/
      /*left: 0;*/
      background: rgba(#ededed, 0.2);

      transform: /*translateX(0)*/ rotate(0deg);
      transition: all 0.15s ease-in;
    }
    &:after {
      /*right: 0;*/
      /*left: 0;*/
      background: rgba(#ededed, 0.2);

      transform: /*translateX(0)*/ rotate(0deg);
      transition: all 0.2s ease-in 0.1s;
    }
  }

  &:active {
    box-shadow: inset 0 0 5px 2px rgba(#ddd, 0.35);
  }

  span {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.2rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
}
</style>
