<template>
  <div class="post" :style="backgroundColor" :class="tagClasses">
    <div
      class="post--image"
      v-if="!coloredBlock && image"
      :style="{ backgroundImage: 'url(' + image + ')' }"
    >
      <post-tags
        class="post--tags"
        :tags="tagDefinitions"
        v-if="!isHorizontal"
      />
    </div>
    <div class="post--inner">
      <post-tags
        class="post--tags"
        :tags="tagDefinitions"
        v-if="isHorizontal || coloredBlock || !image"
      />
      <h3 v-text="title"></h3>
      <p v-text="text"></p>
      <post-button v-if="url" :url="url" />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import PostTags from "@/components/PostTags";
import PostButton from "@/components/PostButton";

export default {
  name: "Post",
  components: { PostButton, PostTags },
  props: {
    tags: {
      type: Array,
      required: true
    },
    image: {
      type: String,
      required: false,
      default: null
    },
    coloredBlock: {
      type: Boolean,
      required: false,
      default: false
    },
    title: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    url: {
      type: String,
      required: false
    },
    width: {
      type: Number,
      default: 1,
      required: false
    },
    height: {
      type: Number,
      default: 1,
      required: false
    }
  },
  computed: {
    ...mapState({ allTags: "tags" }),
    backgroundColor() {
      if (this.coloredBlock) {
        const tag = this.allTags.find(e => e.id === this.tags[0]);
        if (tag && tag.color) {
          return { backgroundColor: tag.color };
        }
        console.error("tag not found: ", this.tags[0]);
        return { backgroundColor: "red" };
      }
      return {};
    },
    tagClasses() {
      const result = ["w-" + this.width, "h-" + this.height];
      if (this.coloredBlock) {
        result.push("post--colored");
      } else if (this.isHorizontal) {
        result.push("post--horizontal");
      } else {
        result.push("post--vertical");
      }
      return result;
    },
    tagDefinitions() {
      return this.allTags.filter(e => this.tags.some(t => t === e.id));
    },
    isHorizontal() {
      return this.width > this.height;
    }
  }
};
</script>

<style scoped lang="scss">
@import "@/assets/vars";
.post {
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  overflow: hidden;

  &--image {
    min-height: 170px;
    background-position: center;
    background-size: cover;
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.4px;
    color: $charcoal-grey-two;
  }
  p {
    font-family: "PT Serif", serif;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: $charcoal-grey-one;
  }

  h3,
  p {
    margin: 0 0 7px;
    padding: 0 23px;
    font-stretch: normal;
    font-style: normal;
  }
  /*&.w-1. {*/
  /*  h3{*/
  /*  font-size: 1.5rem;*/
  /*}*/
  /*}  &.w-1 h3{*/
  /*}*/

  &--horizontal {
    display: flex;
    flex-flow: row-reverse;
    align-items: stretch;
    justify-items: stretch;
    .post--image {
      flex: 47 1 47%;
    }
    .post--inner {
      flex: 53 1 53%;
    }
  }

  &--vertical {
    .post--image {
      margin-bottom: 23px;
    }

    &.w-1 {
      h3 {
        font-size: 1.5rem;
      }
      /*p{*/

      /*}*/
    }
  }

  &--colored {
    display: flex;
    align-items: center;
    justify-content: center;

    /deep/ .post-tags--display {
      padding: 0;
      align-items: center;
    }

    h3,
    p {
      text-align: center;
      color: #fff;
    }
    p {
      opacity: 0.6;
    }

    .post-tags {
      margin-bottom: 1.2rem;
    }
  }

  /*&:nth-child(odd) {*/
  /*  background-color: #424242;*/
  /*}*/
  @media (min-width: 500px) {
    @for $i from 1 through 4 {
      &.w-#{$i} {
        grid-column-end: span $i;
      }
      &.h-#{$i} {
        grid-row-end: span $i;
      }
    }
  }
}
</style>
