<template>
  <div class="post-tags">
    <tag-display
      class="post-tags--display"
      :tags="tags"
      :selected-tags="selectedTags"
      orientation="vertical"
    />
  </div>
</template>

<script>
import TagDisplay from "@/components/TagDisplay";

export default {
  name: "PostTags",
  components: { TagDisplay },
  props: {
    tags: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    selectedTags() {
      return this.tags.map(e => e.id);
    }
  }
};
</script>

<style scoped lang="scss">
.post-tags {
  /*position: absolute;*/
  left: 0;
  top: 0;
  right: 0;
  &--display {
    margin: 0;
    padding: 23px;
  }
}
</style>
