<template>
  <div class="posts-grid--wrapper">
    <div class="posts-grid" :class="{ 'posts-grid--loading': isLoading }">
      <post
        v-for="post in posts"
        :key="post.id"
        :tags="post.tags"
        :image="post.image"
        :coloredBlock="post.coloredBlock"
        :title="post.title"
        :text="post.text"
        :url="post.url"
        :width="post.width"
        :height="post.height"
      />
    </div>
    <transition name="loading-bar">
      <div class="loading-bar" v-if="isLoading">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Post from "@/components/Post";

export default {
  name: "PostsGrid",
  components: { Post },
  computed: {
    ...mapState(["isLoading", "tags", "posts"])
  }
};
</script>

<style scoped lang="scss">
.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(300px, auto);
  grid-auto-flow: dense;
  padding: 0;
  filter: blur(0);
  transition: filter 0.15s linear;
  &--loading {
    filter: blur(3px);
  }

  &--wrapper {
    position: relative;

    .loading-bar {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      &-enter .lds-roller,
      &-leave-to .lds-roller {
        transform: translateY(20px);
        /*opacity: 0;*/
      }
      &-enter,
      &-leave-to {
        opacity: 0;
      }
      &-enter-to .lds-roller,
      &-leave .lds-roller {
        transform: translateY(0px);
        /*opacity: 1;*/
      }
      &-enter-to,
      &-leave {
        opacity: 1;
      }

      &-enter-active .lds-roller,
      &-leave-active .lds-roller {
        transition: all 0.15s ease-out;
      }
      &-enter-active,
      &-leave-active {
        transition: all 0.15s linear;
      }

      /*transition: all 0.15s linear;*/

      /*&-leave-active {*/
      /*  transition: all 0.15ms linear;*/
      /*}*/
      /*&-enter,*/
      /*&-leave-to {*/
      /*  opacity: 0;*/

      /*}*/

      /*&-enter-active .lds-roller {*/
      /*  transition: all 0.15ms linear;*/
      /*  transform: translateY(0px);*/
      /*}*/
      /*&-enter .lds-roller {*/
      /*  !*color: black;*!*/
      /*  opacity: 0;*/
      /*  transform: translateY(50px);*/
      /*}*/

      /*&-enter .lds-roller{*/
      /*  transform: translateY(50px);*/
      /*  opacity: 0;*/
      /*}*/
      /*&-enter-to .lds-roller{*/
      /*  opacity: 1;*/
      /*  transform: translateY(0px);*/
      /*}*/
      /*&-leave .lds-roller{*/
      /*}*/
      /*&-leave-to .lds-roller{*/
      /*  opacity: 0;*/
      /*}*/
    }
  }
}

.lds-roller:before {
  content: "";
  display: block;
  background: #444;
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 10px;
  opacity: 0.5;
}

.lds-roller {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
