<template>
  <div
    class="tag"
    :class="{ 'tag--active': active }"
    :style="{ backgroundColor: color }"
  >
    <span v-text="value"></span>
  </div>
</template>

<script>
export default {
  name: "Tag",
  props: {
    value: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: "#0000FF"
    },
    active: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style scoped lang="scss">
.tag {
  border-radius: 0.3rem;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1rem;
  /*cursor: pointer;*/
  margin-bottom: 0.5rem;
  opacity: 0.5;
  &--active {
    opacity: 1;
  }
}
</style>
