<template>
  <div class="tag-display" :class="displayClass">
    <tag
      v-for="tag in tags"
      :value="tag.name"
      :color="tag.color"
      :active="isActive(tag)"
      :key="tag.id"
      @click.native="raiseEvents && $emit('click', tag)"
    />
  </div>
</template>

<script>
import Tag from "@/components/Tag";
import { TAG_DISPLAY_ORIENTATION } from "@/util/constants";

export default {
  name: "TagDisplay",
  components: { Tag },
  props: {
    orientation: {
      type: String,
      default: TAG_DISPLAY_ORIENTATION.HORIZONTAL,
      required: false
    },
    tags: {
      type: Array,
      default: () => []
    },
    raiseEvents: {
      type: Boolean,
      default: false
    },
    selectedTags: {
      type: Array,
      default: () => []
    }
  },

  computed: {
    displayClass() {
      return ["tag-display--" + this.orientation];
    }
  },
  methods: {
    isActive(tag) {
      return !!~this.selectedTags.indexOf(tag.id);
    }
  }
};
</script>

<style scoped lang="scss">
.tag-display {
  display: flex;
  margin: 1.2rem 0;

  &--horizontal {
    flex-flow: row wrap;
    align-items: flex-start;
    /deep/ .tag {
      margin-right: 1.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--vertical {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
}
</style>
