<template>
  <tag-display
    class="top-tag-line"
    :tags="tags"
    :selected-tags="SELECTED_TAGS"
    raise-events
    @click="toggleTag($event)"
  ></tag-display>
</template>

<script>
import { GETTERS, ACTIONS } from "@/store";
import { mapGetters, mapState } from "vuex";

import TagDisplay from "@/components/TagDisplay";
export default {
  name: "TopTagLine",
  components: { TagDisplay },
  computed: {
    ...mapState(["isLoading", "tags"]),
    ...mapGetters([GETTERS.SELECTED_TAGS])
  },
  methods: {
    toggleTag(tag) {
      this.$store.dispatch(ACTIONS.TOGGLE_TAG, tag.id);
    }
  }
};
</script>

<style scoped lang="scss">
.top-tag-line /deep/ .tag {
  cursor: pointer;
}
</style>
