<template>
  <div id="app">
    <top-tag-line />
    <posts-grid />
  </div>
</template>

<script>
import { ACTIONS, GETTERS, MUTATIONS } from "@/store";
import { mapGetters, mapState } from "vuex";
import TopTagLine from "@/components/TopTagLine";
import PostsGrid from "@/components/PostsGrid";

export default {
  name: "app",
  components: { PostsGrid, TopTagLine },
  created() {
    this.$store.commit(MUTATIONS.SET_LOADING, true);
    Promise.all([
      this.$store.dispatch(ACTIONS.FETCH_TAGS),
      this.$store.dispatch(ACTIONS.FETCH_POSTS, false)
    ]).then(() => {
      this.$store.commit(MUTATIONS.SET_LOADING, false);
    });
  },
  data() {
    return {
      // selectedTags: [0, 1, 2, 5]
    };
  },
  computed: {
    ...mapState(["isLoading", "tags"]),
    ...mapGetters([GETTERS.SELECTED_TAGS])
  }
};
</script>
<style lang="scss" scoped>
#app {
  display: block;
  margin: 0 110px;
}
</style>
<style lang="scss">
body {
  background-color: #eee;
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'PT Serif', serif;*/
}

html {
  font-size: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|PT+Serif&display=swap&subset=cyrillic");
</style>
